* {
  padding: 0;
  margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
h2 {
  padding-left: 28px;
  padding-bottom: 5px;
  font-size: 40px;
  color: #9D8C70;
}
h3 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: .025;
  padding: 0;
  margin: .25rem 0 .025rem 0;
}
p {
  font-weight: 300;
  padding-left: 0.25rem;
  font-size: 13px;
  margin-top:.5rem;
}
li {
  list-style-type: none;
}
img {
  width: 90%;
  height: 90%;
  margin-top: .5rem;
}
.leaderboard-dog-item {
    background-color: #FFF8F0;
    max-width: 800px;
    width: 640px;
    height: 123px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(55, 61, 74, 0.125);
    margin-bottom: 6px;
}
.img-circle {
    border-radius: 50%;
}
.avatar { 
  width: 120px;
  flex: .75; 
  display: flex;
}
.info { 
  flex: 2; 
  background: #FFF8F0;
  padding: 0.25rem 1.5rem;
}
#rank { 
  flex-grow: .5; 
}
.rankBadge {
  display:flex;
  width: 80px;
  height: 80px;
  margin: 1.125rem auto 0 ;
  border-radius: 50%;
  background: #373D4A;
  color: #9D8C70;
  align-items: center;
  font-weight: bold;
}
.rankBadge span {
  margin-left: 0.75rem;
  flex: 1;
  width: 28px;
  margin: 0 auto;
  background: red;
}
.avatar.image-mask {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
/* navBar styles */
html {
  margin:0;
  padding:0;
}
body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}
#navbar {
  width:100%;
}
nav {
  width: 100%;
  height: 4rem;
  color: #bbb;
  background: #2e2e2e;
  letter-spacing: 0.25em;
}
nav ul {
  text-align: center;
  margin: 0;
}
nav ul li {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  height: 3rem;
  margin: 5px;
  padding: 0 4.5em;
  border-radius: 15px;
  line-height: 3em;
}
nav ul li:hover {
  background: #9D8C70;
  color:#2e2e2e;
}
body {
  background: #FFF8F0;
}


@media (max-width: 600px) {
    .avatar { order: 100; }
    .info { order: 1; }
    .rank { order: 1; }
}
