container-1 {
  display:flex;
  flex-direction: column;
}
innerbox-A {
  flex:1;
  background: blue;
  height: 200px;
}
innerbox-B {
  flex:1;
  background: yellow;
  height: 200px;
}
innerbox-C {
  flex:1;
  background: green;
  height: 200px;
}
container-2 {
  display: flex;
  flex-direction: row;
}
innerbox-D
innerbox-E
innerbox-F